.navbar {
  background-color: #000000;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

.navbar-brand {
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.navbar-logo {
  height: auto;
  width: 250px;
  padding-bottom: 20px;
  padding-top: 20px;
  transition: all 0.3s ease;
}

.navbar-brand:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 10px rgba(229, 9, 20, 0.5));
}

.navbar-links {
  display: flex;
  gap: 2.5rem;
  margin-left: 40%;
}

.nav-link {
  font-size: 1.1rem;
  color: #e50914;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  transition: all 0.3s ease;
  font-weight: 600;
}

.nav-link:hover {
  background-color: #e50914;
  color: #ffffff;
  transform: scale(1.02);
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .navbar-logo {
    height: 40px;
  }

  .navbar-links {
    gap: 1.5rem;
  }

  .nav-link {
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
  }
}
